# vim: ft=sh
trigger_table=(['^berry\([ \-]p\unch\)\? \?[?!]\?$']='trg_ask'
				['\(alcool\|sak[eé]\|vodka\|bi[éeè]re\|un verre\)']='trg_alcool'
				['\(je\)\? \(vais\|go\).*\(manger\|miam\)']='trg_miam'
				['\(long\|lent\|chiant\|énorme\|gigantesque\|petit\|court\)']='trg_femme'
				['\([^a-z]\|^\)\(fuck\|puta\?in\|m.rde\|chi\(.r\|[eé]\)\?\|encul[eé]\|conn\?a\(rd\?\|sse\)\|bite\|couille\|ta gueule\)\([^a-z]\|$\)']='trg_lang'
				['merci[ ,]\+berry']='trg_merci'
				['bonjour\']='trg_bonjour'
				["\(boudd\?e\|\(suis\|[^']est\) .*[^a-z]\?triste\)"]='trg_boude'
				['\(berry\([ \-]punch\)\?\)\?.*\(boi[ts] trop\|trop bu\)']="trg_tropbu"
				["\(j'\|je t'\)a\(ime\|dore\)[ ']*\(berry\([ \-]punch\)\?\|[lc]e bot\)"]="trg_rouge")
declare -Ag trigger_lang=0;
declare -Ag trigger_lang_timestamp=0;
declare -g trigger_rst_time=7200;

trg_rouge()
{
	local trg_ans=(	"C'est gentil ^^"
					"Moi je vous aime bien aussi"
					"T'es gentil… <3"
					"Merci <3");
	local sz=${#trg_ans[@]};

	send "PRIVMSG $irc_back :$irc_user: ${trg_ans[$(($RANDOM%$sz))]}"
}
trg_merci()
{
	send "PRIVMSG $irc_back :De rien $irc_user :)"
}
trg_ask()
{
	local trg_ans=(	"Oui ?"
					"Qu'est-ce qu'il y a ?"
					"Hmm ?"
					"Tu as besoin de moi ?"
					"On m'appelle ?");
	local sz=${#trg_ans[@]};

	send "PRIVMSG $irc_back :$irc_user: ${trg_ans[$(($RANDOM%$sz))]}"
}
trg_alcool()
{
	local trg_ans=("Tu en as pour moi $irc_user ?"
					"Qu'est-ce que j'ai soif…"
					"J'adore ça !"
					"J'aimerais bien en reprendre, mais Colgate va se fâcher après…");
	local sz=${#trg_ans[@]};
	send "PRIVMSG $irc_back :${trg_ans[$(($RANDOM%$sz))]}"
}
trg_miam()
{
	send "PRIVMSG $irc_back :Bon appétit, $irc_user :D"
}
trg_tropbu()
{
	send "PRIVMSG $irc_back :Non, c'est même pas vrai d'abord !"
}
trg_femme()
{
	send "PRIVMSG $irc_back :Ta femme te le dit souvent :þ"
}
trg_lang()
{
	local trg_ans=(	"Heu… Les gens ? On se calme ?"
					"Hey ! C'est pas sympa ça !"
					"Tu veux une vodka ? Ça te calmera les nerfs :D"
					"Tu veux un twix ? Histoire de te détendre ^^"
					"Je commence à avoir peur là…"
					"Je vais appeler Tyrek si vous continuez comme ça…")
	local sz=${#trg_ans[@]};
	local prev_ts;

	let trigger_lang++;
	prev_ts=${trigger_lang_timestamp};
	trigger_lang_timestamp=$(date +%s);

	# Temps de reset dépassé
	if [ $(($prev_ts+$trigger_rst_time)) -lt ${trigger_lang_timestamp} ]; then
		let trigger_lang=0;
	fi

	if [ ${trigger_lang} -gt 3 ]; then
		send "PRIVMSG $irc_back :${trg_ans[$(($RANDOM%$sz))]}"
		let trigger_lang=3;
	fi
}
trg_boude()
{
	local trg_ans=("vodka" "rhum" "whisky" "bière" "saké")
	local sz=${#trg_ans[@]};
	do_smgth "Donne un verre de ${trg_ans[$(($RANDOM%$sz))]} à $irc_user"
	say_smgth "Tiens $irc_user, pour te consoler :)"
}
trg_bonjour()
{
	say_smgth "Bonjour $irc_user"
}
